@model IEnumerable<Web.Areas.Admin.Models.Dtos.CountryListingDTO>


@{
    ViewData["Title"] = "Countries List";
}
<style>
    .text-right {
        text-align: right !important;
    }
</style>


<div class="row">
    <div class="col-6">
        <h1 class="text-primary">Countries List</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Country</a>
    </div>
</div>
<br />

<div class="p-4 border rounded">
<table class="table table-stiped table-bordered" id="tblCountry">
    <thead class="thead-dark">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISDCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISDCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>                
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new {  id=item.CountryId })*@
                    <a href="/Admin/Country/Upsert/@item.CountryId" class="btn  btn-success text-white" style="cursor:pointer;">
                         <i class="fas fa-edit"></i> &nbsp; Edit
                    </a>
                    <a  class="btn btn-danger text-white" style="cursor:pointer;" onclick=Delete("/Admin/Country/Delete/@item.CountryId")>
                         <i class="fas fa-trash-alt"></i> &nbsp; Delete
                    </a>
                    @*@Html.ActionLink("Delete", "Delete", new {  id=item.CountryId  })*@
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section scripts {

<script type="text/javascript">
    $(document).ready(function(){
        $("#tblCountry").DataTable();
    });

    
    function Delete(url) {        
        swal({
            title:"Are your sure you want to delete?",
            text:"You will not be able to restore the data!",
            icon:"warning",
            buttons:true,
            dangerousMode:true
            }).then((willDelete) => {
               if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                window.location.href = '/Admin/Country/Index' ;
                                //toastr.success(data.message);
                                //dataTable.ajax.reload();
                            }
                            else {
                               
                            }
                        }
                    });
                }
        });
    }

</script>
}