@model IEnumerable<Web.Areas.Admin.Models.Dtos.CountryListingDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISDCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.ISDCode)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.CountryId })
                    @Html.ActionLink("Delete", "Delete", new {  id=item.CountryId  })
                </td>
            </tr>
        }
    </tbody>
</table>
